<!-- <nav class="navbar navbar-light black">
  <a class="navbar-brand text-white" href="#">
    <img src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Myapp
  </a>
  
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light black">
  <a class="navbar-brand text-white" href="#">
    <img src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30"
      class="d-inline-block align-top" alt="Logo">
    Myapp
  </a>
  <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active text-white" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link text-white" href="#">Posts</a>
      <a class="nav-item nav-link text-white" href="#">Users</a>      
    </div>
  </div>
</nav>

<div class="container p-4">
  <div class="row">
    <div class="col-12 col-md-6">
      <app-post-form-view></app-post-form-view>      
      
      <!-- <form [formGroup]="postForm" (ngSubmit)="onSubmitForm(formDirective)" #formDirective="ngForm">
        <fieldset class="border py-2 px-3">
          <legend class="w-auto">New post</legend>
          <div class="form-group">
            <label for="Title">Title <sup>*</sup></label>
            <input type="text" class="form-control" id="Title" formControlName="title">
            <small *ngIf="submitted && f.title.errors" class="error">
              <p *ngIf="submitted && f.title.errors.required">You must fill this field</p>
              <p *ngIf="submitted && f.title.errors.minlength">Title must be at least 2 characters</p>
              <p *ngIf="submitted && f.title.errors.maxlength">The title is so long</p>
            </small>
          </div>
          <div class="form-group">
            <label for="content">Content <sup>*</sup></label>
            <textarea class="form-control" id="content" rows="2" formControlName="content"></textarea>
            <small *ngIf="submitted && f.content.errors" class="error">
              <p *ngIf="submitted && f.content.errors.required">You must fill this field</p>
              <p *ngIf="submitted && f.content.errors.minlength">The content must be at least 3 characters</p>
              <p *ngIf="submitted && f.content.errors.maxlength">The content is so long</p>
            </small>
          </div>
          <button class="btn indigo btn-sm float-right">Add other post</button>  
        </fieldset>              
        <button type="submit" class="my-2 btn green btn-sm">Submit all post</button>
      </form> -->
    </div>
    <div class="col-12 col-md-6 pt-3 pt-md-0">
      <app-post-list [posts]="posts"></app-post-list>
   </div> 
  </div>
</div>


<!-- <router-outlet></router-outlet>-->
<!-- <div class="container">
  <mat-toolbar color="" class="indigo">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
  </mat-toolbar>
  <div class="row py-4">
    <div class="col-12 col-md-6">
      <h3>New Post</h3>

      <form [formGroup]="postForm" (ngSubmit)="onSubmitForm(formDirective)" #formDirective="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>Title <sup>*</sup></mat-label>
          <input formControlName="title" matInput>
          <mat-error *ngIf="submitted && f.title.errors">                          
              <p *ngIf="submitted && f.title.errors.required">You must fill this field</p>
              <p *ngIf="submitted && f.title.errors.minlength">So short</p>
              <p *ngIf="submitted && f.title.errors.maxlength">The title is so long</p>
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Content <sup>*</sup></mat-label>
          <textarea matInput formControlName="content"></textarea>
          <mat-error *ngIf="submitted && f.content.errors">
              <p *ngIf="submitted && f.content.errors.required">You must fill this field</p>
              <p *ngIf="submitted && f.content.errors.minlength">So short</p>
              <p *ngIf="submitted && f.content.errors.maxlength">The content is so long</p>
          </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field appearance="fill">
          <mat-label>Love it number <sup>*</sup></mat-label>
          <input matInput type="number" formControlName="like">
          <mat-error *ngIf="submitted && f.like.errors">
            <p *ngIf="submitted && f.like.errors.required">You must fill this field</p>
            <p *ngIf="submitted && f.like.errors.pattern">Please enter a number</p>            
          </mat-error>          
        </mat-form-field>
        <br />

        <mat-form-field appearance="fill">
          <mat-label>Contact <sup>*</sup></mat-label>
          <input matInput type="text" placeholder="00 00 00 00 00" formControlName="contact" maxlength="14" appFormatSpaceInput>
          <mat-error *ngIf="submitted && f.contact.errors">
            <p *ngIf="submitted && f.contact.errors.required">You must fill this field</p>
            <p *ngIf="submitted && f.contact.errors.pattern">Please enter a valid contact</p>            
          </mat-error>          
        </mat-form-field>
        <br />
        
        <mat-form-field appearance="fill">
          <mat-label>Email <sup>*</sup></mat-label>
          <input matInput placeholder="tonemail@example.com" formControlName="email">
          <mat-error *ngIf="submitted && f.email.errors">
            <p *ngIf="submitted && f.email.errors.required">You must enter value</p>
            <p *ngIf="submitted && f.email.errors.pattern">Please enter a valid email</p>
          </mat-error>
        </mat-form-field>

        <div class="mt-2">
          <button mat-raised-button class="mx-2" type="submit">Save</button>
          <button mat-raised-button class="mx-2" type="reset" (click)="onReset()">Reset</button>
        </div>
      </form>
      
    </div>
    <div class="col-12 col-md-6">
       <app-post-list [posts]="posts"></app-post-list>
    </div>    
  </div>
</div> -->