<!-- <mat-card class="card">
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-subtitle>{{post.created_at|date: 'dd/MM/yyyy hh:mm:ss'}}</mat-card-subtitle>
    <mat-card-content>{{post.content}}</mat-card-content>
</mat-card> -->

<div>
    <h5>{{post.title}}</h5>
    <small>{{post.created_at|date: 'dd/MM/yyyy hh:mm:ss'}}</small>
    <p>
        {{post.content}} <br>
        <small> Contact : {{post.contact}} <span *ngIf="post.email" class="mx-2">Email : {{post.email}}</span> </small>
    </p>    
    <button mat-raised-button class="mx-2" (click)="post.like()">{{post.loveIts}} Love it</button>
    <button mat-raised-button color="warn" (click)="post.dislike()">{{post.hateIts}} Don't love it</button>
</div>

